
/* @import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');

@font-face {
  font-family: 'Space Grotesk';
  src: url('./SpaceGrotesk-VariableFont_wght.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Molle';
  src: url('./Molle-Italic.ttf');
  font-weight: 400;
}

:root {
  --blue1: rgb(16,84,164);
  --blue2: rgb(75,182,203);
  --orange: rgb(239,103,69);
  --pink: rgb(233,102,170);
  --yellow: rgb(230,227,120);
  --green: rgb(53,124,94);
  --black: rgb(46,36,37);
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--blue1);
}

body {
  font-family: 'Space Grotesk' !important;
}

.wrap {
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  width: 40vw;
  margin-top: 10px !important;
  margin: 0 auto;
  padding: 20px;
  border: 8px solid var(--blue2);
  border-radius: 40px;
  background-color: var(--pink);
  color: var(--black);
  font-size: 1.25em;
}
form[type=text] {
  box-shadow: 1px 3px 5px 0px rgb(46,36,37,0.75);
}
input[type=radio] {
  box-shadow: none;
  background: var(--orange);
}
.small-label {
  font-size: 0.6em;
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left: 2px;
}

button {
  width: 80px;
  height: 30px;
  background-color: var(--green);
  color: var(--black);
  font-family: 'Space Grotesk';
  font-size: 1em;
  font-weight: 700 !important;
  box-shadow: inset 1px 2px 3px 0px rgb(46,36,37,0.75);
  border: none;
  transition: box-shadow 0.5s !important;
}
button:hover {
  transition: filter 0.25s !important;
  filter: drop-shadow(1px 2px 3px rgb(46,36,37,0.75));
  /* box-shadow: 2px 3px 3px 0px rgb(46,36,37,0.75); */
  box-shadow: none;
}
button:active {
  outline: none;
  box-shadow: inset 4px 5px 5px 0px rgb(46,36,37,0.75);
}



.question-text {
  text-align: center;
}
.question-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.label-pair {
  display: flex;
  flex-direction: column-reverse;
}

input {
  height: 25px;
  display: inline;
  color: var(--black);
  background-color: var(--yellow);
  font-family: 'Space Grotesk';
  font-size: 0.85em;
  box-shadow: inset 1px 1px 3px 0px rgb(46,36,37,0.75);
  border: none;
  transition: box-shadow 0.33s !important;
}
input:hover, input:focus {
  transition: filter 0.125s !important;
  filter: drop-shadow(1px 2px 2px rgb(46,36,37,0.5));
  outline: none;
}
.button-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header {
  font-family: 'Molle';
  font-size: 5em;
  color: var(--orange);
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--green);
  align-items: center;
  text-align: center;
  margin-top: 20px;
  animation: fadeIn 0.75s;
}

.fade-in {
  animation: fadeIn 0.75s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}