
/* @import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap'); */

@font-face {
  font-family: 'Space Grotesk';
  src: url('./SpaceGrotesk-VariableFont_wght.ttf');
  font-weight: 400;
}

:root {
  --blue1: rgb(16,84,164);
  --blue2: rgb(75,182,203);
  --orange: rgb(239,103,69);
  --pink: rgb(233,102,170);
  --yellow: rgb(230,227,120);
  --green: rgb(53,124,94);
  --black: rgb(46,36,37);
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--blue1);
}

body {
  font-family: 'Space Grotesk' !important;
}

.wrap {
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  width: 40vw;
  margin-top: 40px !important;
  margin: 0 auto;
  padding: 20px;
  border: 8px solid var(--blue2);
  border-radius: 40px;
  background-color: var(--pink);
}

input {
  height: 25px;
}